<h1>
  {{title}} <i class="material-icons">airline_seat_recline_normal</i> as  asda
</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Form Teste
  </div>
  <div class="panel-body">
    <app-forms></app-forms>
  </div>

</div>


<input dateInputMask="dd/mm/yyyy" [(ngModel)]="minhaData">

Minha Data: {{minhaData}}

<input [(ngModel)]="minhaData">


<user-box [user]="null"></user-box>
<user-box [user]="{ name: 'Luke Koptz', email: 'luke.koptz@gmail.com'}"></user-box>
<user-box [user]="{ name: 'Lion Tiger Flux', email: 'lion.flux@gmail.com'}"></user-box>

<md-card class="app-input-section">
  <md-input placeholder="First name"></md-input>

  <md-input #nickname placeholder="Nickname" maxlength="50">
    <md-hint align="end">
      {{nickname.characterCount}} / 50
    </md-hint>
  </md-input>

  <md-input>
    <md-placeholder>
      <i class="material-icons app-input-icon">android</i> Favorite phone
    </md-placeholder>
  </md-input>

  <button md-button disableRipple color="primary">SNIFF</button>
  <button md-raised-button [disableRipple]=true color="primary">WOOF</button>

  <md-input placeholder="Motorcycle model">
    <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
  </md-input>
</md-card>